@model List<StudentPortal.Web.Models.Entities.Student>
<h1>Students</h1>

@* <button class="btn btn-primary mb-3" asp-controller="Student" asp-action="Add">Add Student</button> *@
<a class="btn btn-primary mb-3" asp-controller="Student" asp-action="Add">Add Student</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Subscribed</th>
            <th>Entrollment Key</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach(var student in Model){
            <tr>
                <td id="id_std">@index</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.PhoneNumber</td>

                <td>
                    @if(@student.Subscribed == true){
                        <span class="text-success font-bold">✓</span>
                    } else {
                        <span class="text-success">❌</span>
                    }
                </td>
                <td>@student.Entrollment</td>
                <td>
                    <a class='btn btn-primary' asp-controller="Student" asp-action="Edit"
                        asp-route-id="@student.Id">Edit</a>
                    <form asp-action="Delete" asp-controller="Student" method="post" style="display:inline">
                        <input type="hidden" name="Id" value="@student.Id" />
                        <button class="btn btn-danger ms-3" type="submit">Delete</button>
                    </form>

                </td>
            </tr>
            index++;
        }
    </tbody>
</table>

@* <h1>Students</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>JAthu</td>
            <td>JAt@gmail</td>
            <td>7669789798</td>
            <td>
                <a asp-controller="Student" asp-action="Edit" class='btn btn-primary'>Edit</a>
            </td>
        </tr>
    </tbody>
</table> *@